@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.button {
    background-color: #94ff6e;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
.input {
    background-color: #94ff6e;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
